.image-container {
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    max-width: 100%;
    text-align: center;
    
}

.indexLogo {
    max-width: 100%;
    height: auto;
    cursor: pointer;
    border-radius: 10px;
}

.indexLogo:hover {
    box-shadow: 4px 4px 4px #D20A11;
}

.indexLogo:active {
    box-shadow: 3px 3px 3px rgb(11, 19, 34);
}